Repository kubernetes-csi/external-resizer, pull requests merged in 2019-09, with the labels that each got.

#52 Update csi-release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/M

#53 Update the image and enable e2e runs
  .prow.sh
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XS

#55 Exit on CSI gRPC conn loss
  pkg/csi/client.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/XS
