Repository kubernetes-csi/external-resizer, pull requests merged in 2020-06, with the labels that each got.

#84 master: update release-tools, enable cloud build
  .cloudbuild.sh
  Dockerfile
  cloudbuild.yaml
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.sh
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, size/L

#85 master: update release-tools
  release-tools/build.make
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#86 Prevent calling controller-expand if volume in-use
  deploy/kubernetes/rbac.yaml
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/inuse_pvc_store.go
  pkg/controller/inuse_pvc_store_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note, size/XL

#87 master: update release-tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#89 Make Pod informer registration optional
  cmd/csi-resizer/main.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#76 Update util.go
  pkg/util/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS
