Repository kubernetes-csi/external-resizer, pull requests merged in 2021-02, with the labels that each got.

#136 master: update release-tools
  release-tools/README.md
  release-tools/boilerplate/boilerplate.py
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#138 feat: Add migrated label to metrics
  cmd/csi-resizer/main.go
  go.mod
  go.sum
  pkg/csi/client.go
  pkg/csi/mock_client.go
  pkg/resizer/csi_resizer.go
  pkg/resizer/csi_resizer_test.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/connection/connection.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/metrics/metrics.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/L

#139 Upgrade csi-translation-lib dependency
  go.mod
  go.sum
  vendor/github.com/go-logr/logr/discard.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/k8s.io/csi-translation-lib/go.mod
  vendor/k8s.io/csi-translation-lib/go.sum
  vendor/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/csi-translation-lib/plugins/gce_pd.go
  vendor/k8s.io/csi-translation-lib/plugins/in_tree_volume.go
  vendor/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  vendor/k8s.io/klog/v2/go.mod
  vendor/k8s.io/klog/v2/go.sum
  vendor/k8s.io/klog/v2/klog.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/XL
