Repository kubernetes-csi/external-resizer, pull requests merged in 2021-05, with the labels that each got.

#140 fix: use pv annotation to trigger filesystem resize when necessary
  cmd/csi-resizer/main.go
  go.mod
  go.sum
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/features/features.go
  pkg/util/util.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/util/feature/feature_gate.go
  vendor/k8s.io/component-base/cli/flag/ciphersuites_flag.go
  vendor/k8s.io/component-base/cli/flag/ciphersuites_flag_114.go
  vendor/k8s.io/component-base/cli/flag/colon_separated_multimap_string_string.go
  vendor/k8s.io/component-base/cli/flag/configuration_map.go
  vendor/k8s.io/component-base/cli/flag/flags.go
  vendor/k8s.io/component-base/cli/flag/langle_separated_map_string_string.go
  vendor/k8s.io/component-base/cli/flag/map_string_bool.go
  vendor/k8s.io/component-base/cli/flag/map_string_string.go
  vendor/k8s.io/component-base/cli/flag/namedcertkey_flag.go
  vendor/k8s.io/component-base/cli/flag/noop.go
  vendor/k8s.io/component-base/cli/flag/omitempty.go
  vendor/k8s.io/component-base/cli/flag/sectioned.go
  vendor/k8s.io/component-base/cli/flag/string_flag.go
  vendor/k8s.io/component-base/cli/flag/string_slice_flag.go
  vendor/k8s.io/component-base/cli/flag/tristate.go
  vendor/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/component-base/featuregate/testing/feature_gate.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XXL

#148 Add changelog for release 1.2
  CHANGELOG/CHANGELOG-0.1.md
  CHANGELOG/CHANGELOG-0.2.md
  CHANGELOG/CHANGELOG-0.3.md
  CHANGELOG/CHANGELOG-0.4.md
  CHANGELOG/CHANGELOG-0.5.md
  CHANGELOG/CHANGELOG-1.0.md
  CHANGELOG/CHANGELOG-1.1.md
  CHANGELOG/CHANGELOG-1.2.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#149 master: update release-tools
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M
