Repository kubernetes-csi/external-resizer, pull requests merged in 2021-11, with the labels that each got.

#176 master: update release-tools
  release-tools/cloudbuild.yaml
Labels: approved, lgtm, release-note-none, cncf-cla: yes, size/XS

#178 Fix: PVC used by a job doesn't get resize after the pod of the job completed
  pkg/controller/controller.go
Labels: kind/bug, approved, lgtm, release-note-none, ok-to-test, cncf-cla: yes, size/XS

#180 master: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: approved, lgtm, release-note-none, size/M, cncf-cla: yes

#183 release-1.3: update release-tools
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: approved, lgtm, release-note-none, size/L, cncf-cla: yes

#181 release-1.1: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: approved, lgtm, release-note-none, size/M, cncf-cla: yes
