Repository kubernetes-csi/external-resizer, pull requests merged in 2022-01, with the labels that each got.

#188 master: update release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, lgtm, release-note-none, size/M, cncf-cla: yes

#186 rebase: update kuberenetes dependencies to v1.23.1
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/csi-translation-lib/plugins/rbd.go
  vendor/modules.txt
Labels: size/XXL, approved, lgtm, release-note, cncf-cla: yes

#187 Handle case of recovery from resize failures
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/expand_and_recover.go
  pkg/controller/expand_and_recover_test.go
  pkg/controller/resize_status.go
  pkg/features/features.go
  pkg/resizer/csi_resizer.go
  pkg/resizer/resizer.go
  pkg/resizer/trivial_resizer.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: approved, lgtm, size/XL, release-note, cncf-cla: yes

#189 Add changelog and update readme for external-resizer
  CHANGELOG/CHANGELOG-1.4.md
  README.md
Labels: approved, lgtm, release-note-none, size/M, cncf-cla: yes
