Repository kubernetes-csi/external-resizer, pull requests merged in 2024-05, with the labels that each got.

#371 fix data race reported by `go test ./... -race`
  pkg/csi/mock_client.go
  pkg/modifycontroller/controller.go
  pkg/modifycontroller/modify_status_test.go
Labels: approved, lgtm, kind/failing-test, kind/cleanup, release-note-none, size/M, lifecycle/stale, ok-to-test, cncf-cla: yes

#392 fix: do not emit `VolumeResizeFailed` on conflict while trying to set `FileSystemResizeRequired` or `VolumeResizeSuccess`
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/csi/mock_client.go
Labels: kind/bug, approved, lgtm, size/L, release-note, ok-to-test, cncf-cla: yes

#398 Add changelog for v1.11
  CHANGELOG/CHANGELOG-1.11.md
Labels: approved, lgtm, release-note-none, size/L, kind/documentation, cncf-cla: yes
